.main{
    height: 4rem;
    background-color: rgb(176, 138, 222);
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rigthsub{
    margin-left: 1rem;

}
.leftsub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 2rem;
}
